# Compiled Object files
*.slo
*.lo
*.o
build/OBJ/**/*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Dependency Files
build/DEPS/**/*.d

# Executables
build/EXE/train-sch

# YCM compiled config
.ycm_extra_conf.pyc

# misc
train-sch.sublime-workspace
test/runs/*
